@font-face {
  font-family: 'Lora';
  src: url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Sans:wght@300&display=swap');
}

.filler-space {
  width: 100vw;
  height: 90vh;
}

.centerBox{
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction:column;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.61);
}

.machine {
  border: 1px solid black;
  border-radius: 15px;
  margin: .5rem;
}

.accordionLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  cursor: pointer;
}

.checkbox:checked ~ .accText {
  display:flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: .2rem;
  margin: .7rem;
}

.checkbox:checked ~ .accResolve {
  display: inline;
  border-radius: 40px;
  padding: .3rem .8rem;
  margin-top: .5rem;
  margin-bottom: 5rem;
  text-align: center;
  justify-content: center;
}

.checkbox:checked ~ .accBr {
  display: inline;
}


.checkbox {
  display: none;
}

.accText {
  display: none;
}

.accResolve {
  display: none;
  text-align: center;
}

.accBr {
  display: none;
}

.machHolder {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}