.filler-space {
  width: 100vw;
  height: 91vh;
}

.list{
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction:column;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.61);
}

.item{
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: .3rem;
  transition: .5s;
  align-items: center;
  background-color: white;
  
}

.item:hover{
  transition: .5s;
}

a{
  text-decoration: none;
  color: black;
  padding: .3rem 2rem;
  display: none;
}

.item .problem {
  display: none;
  transition: .5s;
  margin: .4rem;
}

.item:hover a{
  display:inline;
  background-color: red;
  border: 1px solid black;
  border-radius: 50px;
  margin: 2rem;
}

.item:hover .problem{
  display:flex;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  align-self: center;
  text-align: center;
}

br {
  display: none;
}

.item:hover br {
  display: inline;
}