.bg {
    width: 100vw;
    height: calc(100vh - 70px);
    align-items: center;
    text-align: center;
    vertical-align: center;
}

.reports {
    padding: 5px;
    text-align: left;
    margin-bottom: 3vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    max-width: 700px;
    margin: auto;
    margin-top: 5vh;
}

.done {
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.pointer {
    cursor: pointer;
    transition: .3s;
}

.pointer:hover {
    background-color: #00000033;
    transition: .3s;
}

@media (max-width: 768px) {
    .centerbox{
      width: 90vw;
      height: 55vh;
      background-color: black;
    }
  }