.footer {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;

    width: 100vw;
    height: 4.5vh;
}

.footer-text {
    margin-bottom: -2.25vh;
}

.icon {
    height: 4.5vh;
    width: 4.5vh;
    left: 0;
    cursor: pointer;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}