.filler-space {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction:column;
    text-align: center;
}

.input1 {
    resize: unset;
    border: 1px solid black;
    border-radius: 10px;
    height: 15rem;
    width: 90%;
    text-align: left;
    max-width: 1100px;
}

.checkLabel {
    margin: 20px;
}

@media (max-width: 768px) {
    .centerbox{
      width: 90vw;
      height: 70vh;
    }
    .input1 {
        height: 20vh;
    }
  }